body{
	background: url("@{basePartImageDir}layout/bg.jpg") repeat-x 50% 0 #e3f07a;
}
.container{
	position: relative;
	width: 955px;
	padding: 0 20px;
	margin: 0 auto;
}
#header{
	height: 90px;
	
	.container{
		overflow: hidden;
		padding-left: 20px + 229px;
		width: 955px - 229px;
		height: 90px;
	}
}
.site-logo{
	position: absolute;
	left: 20px;
	top: 0;
	margin: 0;
	display: inline-block;
	width: 226px;
	
	a{
		display: block;
		height: 91px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}
}
.lnb{
	margin-top: 22px;
	padding-left: 7px;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	background-color: #fff;
	position: relative;
	
	ul:after{
		clear: both;display: block;content: '';
	}
	>ul{
		
		
		>li{
			float: left;
			padding: 6px 0;
			margin-right: -1px;
			
			&:first-child{
				a{
					background: none;
				}
			}
			&:hover, &:focus, &.on{
				position: relative;
				z-index: 10;
			}
			>a{
				display: block;
				padding: 5px 19px;
				background: url("@{basePartImageDir}layout/lnb.png") no-repeat 0 50%;
				text-align: center;
				font-size: 12px;
				font-weight: bold;
				line-height: 1.4em;
				color: #737373;
				transition: color .1s, background-color .1s;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				border-radius: 6px;
				
				&:hover, &:focus{
					background: #3ccbf7;
					color: #fff;
				}
			}
			&.on{
				>a{
					background: #3ccbf7;
					color: #fff;
					
				}
				ul{
					display: block;
				}
			}
			ul{
				position: absolute;
				left: 0;top: 38px;
				display: none;
				width: 1000px;
				
				li{
					display: block;
					float: left;
					
					
					a{
						display: block;
						height: 100%;
						padding: 7px 10px;
						font-size: 11px;
						color:#444;
					}
					
				}
				
			}
			
			
		}
	}
}
.gnb{
	position: absolute;
	right: 20px;
	top: 0px;
	
	>ul{
		display: inline-block;
		overflow: hidden;
		height: 22px;
		
		>li{
			display: inline-block;
			height: 22px;
			vertical-align: top;
			
			>a{
				display: block;
				padding: 0 12px 0 13px;
				font-size: 11px;
				line-height: 22px;
				color: #fff;
				background: url("@{basePartImageDir}layout/gnb.png") no-repeat 0 50%;
				
				&:hover, &:focus{
					font-weight: bold;
				}
			}
			&:first-child{
				>a{
					padding-left: 12px;
					background: none;
				}
			}
		}
	}
}
.container-header{
	height: 20px;
	background: url("@{basePartImageDir}layout/container-header.png") no-repeat 50% 0;
}
.container-body{
	position: relative;
	z-index: 10;
	background: url("@{basePartImageDir}layout/container.png") repeat-y 50% 0;
	min-height: 300px;
	
	&:after{
		display: block;
		content: " ";
		clear: both;
	}
}
.container-footer{
	height: 10px;
	background: url("@{basePartImageDir}layout/container-footer.png") no-repeat 50% 0;
}
.qnb{
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	width: 20px;
	height: 99px;
	background: url("@{basePartImageDir}layout/qnb.png") no-repeat 0 0;
}
.snb{
	float: left;
	padding-left: 19px;
	padding-right: 10px;
	width: 173px;
	
	&.sub-page{
		padding-bottom: 212px;
		background: url("@{basePartImageDir}layout/snb_sub-page.jpg") no-repeat 5px bottom ;
	}
}
#content{
	float: right;
	width: 664px;
	margin-right: 29px;
}
#footer{
	margin: 15px 0;
	font-size: 10px;
	font-weight: bold;
	line-height: 1.4em;
	color: #737373;
	
	.container{
		text-align: right;
	}
	.email{
		display: inline-block;
		margin: 0 6px;
		padding-left: 21px;
		background: url("@{basePartImageDir}layout/footer-email.png") no-repeat 0 50%;
		font-size: 12px;
		font-weight: normal;
		line-height: 1.4em;
		color: #779700;
	}
	.counter{
		display: inline-block;
		background-color: #fff;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		border-radius: 100px;
		padding: 0 24px;
		
		li{
			margin: 0 4px;
			display: inline-block;
			font-size: 11px;
			font-weight: bold;
			line-height: 21px;
			color: #8e8e8e;
		}
	}
}
.account{
	margin-bottom: 31px;
	height: 150px - 42px;
	background: url("@{basePartImageDir}layout/account.png") no-repeat 0 0;
	padding: 42px 27px 0 27px;
	
	.forms{
		padding: 0 0 0 23px;
	}
	label{
		display: block;
		margin-bottom: 2px;
	}
	input{
		display: block;
		width: 86px;
		padding: 1px 4px;
		border: 1px solid #5b852b;
		font-size: 12px;
		font-weight: normal;
		line-height: 1.4em;
		color: #333;
	}
	.find-id-and-pw{
		display: block;
		margin: 6px 0 4px;
		padding-left: 10px;
		background: url("@{basePartImageDir}layout/account-2.png") no-repeat 0 50%;
		font-size: 11px;
		line-height: 1.4em;
		color: #779700;
	}
	.submit{
		display: inline-block;
		width: 120px;
		height: 19px;
		background: url("@{basePartImageDir}layout/account-3.png") no-repeat 0 0;
		border: none;
		font-size: 0;
	}
}
.dic-search-bar{
	position: relative;
	background: url("@{basePartImageDir}layout/dic-search-bar.png") no-repeat 0 0;
	height: 55px;
	margin-bottom: 12px;
	
	input[type=text]{
		position: absolute;
		left: 9px;
		bottom: 7px;
		border: 1px solid #707070;
		padding: 0 2px;
		width: 130px;
	}
	.submit{
		position: absolute;
		right: 3px;
		bottom: 10px;
		display: inline-block;
		width: 19px;
		height: 19px;
		background: url("@{basePartImageDir}layout/dic-search-bar-2.png") no-repeat 0 0;
		border: none;
		font-size: 0;
	}
}
.calendar{
	background-color: #daeeb7;
	padding: 3px;
	position: relative;
	
	div.head{
		display: block;
		width: 100%;
		height: 24px;
		background: url("@{basePartImageDir}layout/calendar-header.png") no-repeat 0 0;
		-webkit-background-size: 100p;
		background-size: 100p;
		position: absolute;
		left: 0;top: 0;
		border-bottom: 1px solid #fff;
	}
	table{
		border-collapse:separate;
		margin-top: 25px;
		width: 100%;
		td,th{
			background-color: #edf7db;
			border-left: 1px solid #fff;
			border-top: 1px solid #fff;
			border-right: 1px solid daeeb7;
			border-bottom: 1px solid daeeb7;
			text-align: center;
			vertical-align: middle;
		}
		
		col.sun,col.sat{
			color: #fe2727;
		}
		
		.prev_btn,.next_btn,{
			display: inline-block;
			width: 11px;
			height: 11px;
			background: url("@{basePartImageDir}layout/prev_btn.png") no-repeat 0 0;
			vertical-align: middle;
			margin-right: 10px;
		}
		
		.next_btn{
			background-image: url("@{basePartImageDir}layout/next_btn.png");
			margin-left: 10px;
			margin-right: 0;
		}
		
		thead{
			tr:first-child th{background-color: #e4f3ca;
			}
   		} 
		tfoot{
		
			td{
				height: 22px;
			}
			
		}
		
		.today{
			color:#40e0d2;
			font-weight: bold;
		}
		.holiday{
			background-color: #f3c227;
		}
		span.holi_box{
			display: inline-block;
			width: 14px;
			height: 13px;
			vertical-align: middle;
			margin-top: -2px;
			margin-right: 10px;
			border: 1px solid #fff;
			
		}
		
	}
	
}
.sub_introduce{
	padding-top: 8px;
	margin-bottom: 26px;
	.head{
		height: 29px;
		background: url("@{basePartImageDir}layout/sub_intro.png")no-repeat 0 0;
		margin-bottom: 10px;
	}
	ul{
		li{
			height: 27px;
			border-bottom: 1px solid #eae9e4;
			background: url("@{basePartImageDir}layout/sub_introduce-1.png")no-repeat 17px 6px;
			padding-left: 45px;
		}
	}
	
}
.quick_link{
	li{
		display: inline-block;
		width: 53px;
		background: url("@{basePartImageDir}layout/quick_link.png")no-repeat 0px 0px;
		a{
			display: block;
			height: 45px;
		}
	}
	.eq-01{background-position: 0 0;}
	.eq-02{background-position: -60px 0;}
	.eq-03{background-position: -119px 0;}
	
}









