.module-content{
	padding-left: 30px;
	padding-right: 25px;
}
.page-title{
	min-height:53px;
	background: url("@{basePartImageDir}page-sub/page-title.jpg") no-repeat 0 0;
	position: relative;
	margin-left: 30px;
	margin-bottom: 25px;
	
	div{
		position: absolute;
		left: 80px;
		top: 10px;
		font-size: 20px;
		font-weight: bold;
	}
}
.table-primary{
	border-collapse: collapse;
 	border-top: 2px solid #8c37d7;
	width: 100%;
	
	tr{
		th,td{
			vertical-align: middle;
			border-bottom: 1px solid #ddd;
		} 
		th{
			font-size: 12px;
			font-weight: bold;
			text-align: center;
			color: #737373;
			background-color: #f7effd;
		}
		td{
			font-size: 11px;
			font-weight: normal;
			color: #737373;
		}
	}
}

.box-md{
	width: 283px;
}
.box-sm{
	width: 133px;
}
.box-xs{
	width: 63px;
}

.btn_group{
		float: right;
		margin-top: 17px
	}
	.btn{
		display: inline-block;
		width: 59px;
		height: 21px;
		b ackground: none;
		font-size: 12px;
		line-height: 1.4;
		padding: 0;
		#util>.ellipsis();
		&.search_btn,&.rewrite_btn{
			background: url("@{basePartImageDir}page-sub/btn_58x20.jpg") no-repeat 0 0;
		}
	}


/* search1 */
.search1{
	&.table-primary{
		tr{
			height: 48px;
		}
		th{
			width: 100px;
		}
		td{
			padding-left: 20px;
			input[type=text]{
				width: 90%;
			}
			input[type=checkbox]{
				vertical-align: middle;
				margin: 0;
				padding: 0;
			}
			label{
				margin: 0 10px;
				padding: 0;
				vertical-align: middle;
			}
		}
	}
	
}
/* search2 */
.search2{
	&.table-primary{
		tr{
			height: 30px;
		}
		th{
			text-align: left;
			width: 168px;
			padding-left: 10px;
			
		}
		td{
			padding-left: 10px;
			
			select{
				&.box-md{
					padding: 2px;
					width: 283px+4px
				}
			}
			input[type=checkbox]{
				vertical-align: middle;
				margin: 0;
				padding: 0;
			}
			label{
				margin: 0 10px;
				padding: 0;
				vertical-align: middle;
			}
		}
	}
	
}
/* search3 */















































	