<!DOCTYPE html>
<!-- App Header.html -->
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="ㅇㅇㅇ 홈페이지 입니다." />
<title>ㅇㅇㅇ</title>
<link rel="stylesheet" href="../resources/front/css/phone.min.css" />
<link rel="stylesheet" href="../resources/front-legacy/css/legacy-phone.css" />
<link rel="stylesheet" href="../resources/front/css/tablet.min.css" />
<link rel="stylesheet" href="../resources/front-legacy/css/legacy-tablet.css" />
<link rel="stylesheet" href="../resources/front/css/desktop.min.css" />
<link rel="stylesheet" href="../resources/front-legacy/css/legacy-desktop.css" />
<link rel="stylesheet" href="../resources/front/css/largedesktop.min.css" media="screen and (min-width: 1280px)" />
<link rel="stylesheet" href="../resources/front-legacy/css/legacy-largedesktop.css" media="screen and (min-width: 1280px)" />
<!--[if lt IE 9]><script src="../resources/front/js/vendor/jquery-1.12.2.min.js"></script><![endif]-->
<!--[if gte IE 9]><!--><script src="../resources/front/js/vendor/jquery.min.js"></script><![endif]-->
<script src="../resources/front/js/script.min.js"></script>
</head>
<body class="layout-page">
<!-- //App Header.html -->
<!-- Header.html -->
<div id="wrap">
	<div id="header">
		<div class="container">
			<h1 class="site-logo"><a href="/" style="background-image: url(../resources/front/images/_temp/logo.png);"><span class="sr-only">ㅇㅇㅇ</span></a></h1>
			<div class="lnb">
				<ul>
					<li>
						<a href="introduce.html">도서관 소개</a>
						<ul>
							<li><a href="introduce.html">인사말</a></li>
							<li><a href="introduce.html">도서관 소개</a></li>
							<li><a href="introduce.html">연혁</a></li>
							<li><a href="introduce.html">찾아오시는 길</a></li>
							<li><a href="introduce.html">시설현황</a></li>
							<li><a href="introduce.html">이용안내</a></li>
							<li><a href="introduce.html">일정관리</a></li>
						</ul>

					</li>
					<li>
						<a href="search.html">도서검색</a>
						<ul>
							<li><a href="search.html">간략 검색</a></li>
							<li><a href="search2.html">상세검색</a></li>
							<li><a href="search3.html">분류검색1</a></li>
							<li><a href="search4.html">분류검색2</a></li>
							<li><a href="search5.html">분류검색3</a></li>
						</ul>
					</li>
					<li>
						<a href="info.html">도서정보</a>
						<ul>
							<li><a href="info.html">신간도서</a></li>
							<li><a href="info.html">희망도서</a></li>
							<li><a href="info.html">추천도서</a></li>
							<li><a href="info.html">권장도서</a></li>
							<li><a href="info.html">베스트대출목록</a></li>
						</ul>
					</li>
					<li>
						<a href="community.html">이용자 마당</a>
						<ul>
							<li><a href="community.html">공지사항</a></li>
							<li><a href="community.html">자주묻는 질문</a></li>
							<li><a href="community.html">Q&amp;A</a></li>
							<li><a href="community.html">독후활동</a></li>
							<li><a href="community.html">자유게시판</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="gnb">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">개인정보처리방침</a></li>
					<li><a href="#">Join</a></li>
					<li><a href="#">Mypage</a></li>
					<li><a href="#">Admin</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="body">
		<div id="container">
			<div class="container-header">&nbsp;</div>
			<div class="container-body">
				<div class="container">
					<span class="qnb"></span>
											<div class="snb sub-page">
							<form action="" method="post">
    							<div class="account">
    								<storng class="title sr-only">Member Login</storng>
    								<div class="forms">
        								<label><span class="sr-only">ID</span> <input type="text" /></label>
        								<label><span class="sr-only">PW</span> <input type="password" /></label>
    								</div>
    								<span class="find-id-and-pw">
        								<a href="#">아이디</a> / 
        								<a href="#">비밀번호찾기</a> 
    								</span>
    								<input type="submit" class="submit" value="Login" />
    							</div>
							</form>
							<form action="" method="post">
    							<div class="dic-search-bar">
    								<input type="text" />
    								<input type="submit" class="submit" />
    							</div>
							</form>
							<div class="sub_introduce">
								<div class="head"><span class="sr-only">도서관 소개</span></div>
								<ul>
									<li><a href="#none">인사말</a></li>
									<li><a href="#none">도서관소개</a></li>
									<li><a href="#none">연혁</a></li>
									<li><a href="#none">찾아오시는 길</a></li>
									<li><a href="#none">시설현황</a></li>
									<li><a href="#none">이용안내</a></li>
									<li><a href="#none">일정관리</a></li>
								</ul>
							</div>
							<div class="quick_link">
								<li class="eq-01"><a href="#none"><span class="sr-only">예약 도서</span></a></li>
								<li class="eq-02"><a href="#none"><span class="sr-only">대출 조회</span></a></li>
								<li class="eq-03"><a href="#none"><span class="sr-only">독후감 쓰기</span></a></li>
							</div>
							
							
					</div>
					    				<div id="content">
						                			<h2 class="page-title">
            					<div>
            						페이지 타이틀            					</div>
                			</h2>
                			
                			
						<!-- //Header.html -->































<div class="module-content">
<form action="">
<table class="table-primary search2">
  <tbody>
    <tr>
      <th> 자료유형 </th>
      <td>
        <input type="checkbox" id="pattern-1" checked="checked">
        <label for="pattern-1">전체</label>
        <input type="checkbox" id="pattern-2">
        <label for="pattern-2">단행본</label>
        
        <input type="checkbox" id="pattern-3">
        <label for="pattern-3">연속간행물</label>
        <input type="checkbox" id="pattern-4">
        <label for="pattern-4">멀티미디어/비도서</label> </td>
    </tr>
    <tr>
      <th> 검색조건 </th>
      <td>
        <input type="checkbox" id="terms-1" checked="checked">
        <label for="terms-1">대출도서포함</label>
        <input type="checkbox" id="terms-2" checked="checked">
        <label for="terms-2">예약도서포함</label>
        </td>
    </tr>
    <tr>
      <th> 대장선택 </th>
      <td><select class="box-md">
          <option>전체</option>
          <option>[0] 단행본</option>
          <option>[CD] 비도서</option>
          <option>[M] 연속간행물</option>
          <option>[EM] 단행본2</option>
          <option>[Y] 열린교회</option>
          <option>[PM] 경찰대학교</option>
          <option>[MB] 학교</option>
        </select></td>
    </tr>
    <tr>
      <th> 등록번호 </th>
      <td>
      	<input type="text" class="box-sm">
        ~
        <input type="text" class="box-sm">
         </td>
    </tr>
    <tr>
      <th> 도서명 </th>
      <td><input type="text" class="box-md">
        
        <select class="box-xs">
          <option>AND</option>
          <option>OR</option>
          <option>NOT</option>
        </select></td>
    </tr>
    <tr>
      <th> 저자명 </th>
      <td><input type="text" class="box-md">
        
        <select class="box-xs">
          <option>AND</option>
          <option>OR</option>
          <option>NOT</option>
        </select></td>
    </tr>
    <tr>
      <th> 출판사 </th>
      <td><input type="text" class="box-md">
        
        <select class="box-xs">
          <option>AND</option>
          <option>OR</option>
          <option>NOT</option>
        </select></td>
    </tr>
    <tr>
      <th> 출판년 </th>
      <td><input type="text" class="box-sm">
        ~
        <input type="text" class="box-sm">
        
        <select class="box-xs">
          <option>AND</option>
          <option>OR</option>
          <option>NOT</option>
        </select></td>
    </tr>
    <tr>
      <th> ISBN / ISSN </th>
      <td><input type="text" class="box-md">
        
        <select class="box-xs">
          <option>AND</option>
          <option>OR</option>
          <option>NOT</option>
        </select></td>
    </tr>
    <tr>
      <th> 별치기호 </th>
      <td><input type="text" class="box-md">
        
        <select class="box-xs">
          <option>AND</option>
          <option>OR</option>
          <option>NOT</option>
        </select></td>
    </tr>
    <tr>
      <th> 분류기호 </th>
      <td><input type="text" class="box-xs">
        
        <input type="text" class="box-xs">
        ~
        <input type="text" class="box-xs">
        
        <input type="text" class="box-xs">
        
        <select class="box-xs">
          <option>AND</option>
          <option>OR</option>
          <option>NOT</option>
        </select></td>
    </tr>
    <tr>
      <th> 매체종류 </th>
      <td><select class="box-md">
          <option>전체</option>
        </select>
        
        <select class="box-xs">
          <option>AND</option>
          <option>OR</option>
          <option>NOT</option>
        </select></td>
    </tr>
    <tr>
      <th> 목차 </th>
      <td><input type="text" class="box-md">
        
        <select class="box-xs">
          <option>AND</option>
          <option>OR</option>
          <option>NOT</option>
        </select></td>
    </tr>
    <tr>
      <th> 초록 </th>
      <td><input type="text" class="box-md">
        
        <select class="box-xs">
          <option>AND</option>
          <option>OR</option>
          <option>NOT</option>
        </select></td>
    </tr>
    <tr>
      <th> 주제어 </th>
      <td><input type="text" class="box-md">
        
        <select class="box-xs">
          <option>AND</option>
          <option>OR</option>
          <option>NOT</option>
        </select></td>
    </tr>
    <tr>
      <th> 이용대상자 </th>
      <td><select class="box-md">
          <option>전체</option>
          <option>/ 일반 이용자</option>
          <option>a 취학전 아동</option>
          <option>b 초등학생</option>
          <option>c 중학생</option>
          <option>d 고등학생</option>
          <option>e 성인</option>
          <option>f 특수계층</option>
          <option>j 아동</option>
          <option>z 미상 또는 세분화하지 않는 경우</option>
          <option>| 부호화하지 않음</option>
          <option>직접입력</option>
        </select>
        
        <select class="box-xs">
          <option>AND</option>
          <option>OR</option>
          <option>NOT</option>
        </select></td>
    </tr>
    <tr>
      <th> 배가위치 </th>
      <td><select class="box-md">
          <option>전체</option>
          <option>신간도서</option>
          <option>7층</option>
          <option>262</option>
          <option>교육관</option>
          <option>\</option>
        </select>
        
        <select class="box-xs">
          <option>AND</option>
          <option>OR</option>
          <option>NOT</option>
        </select></td>
    </tr>
    <tr>
      <th> 구입형태(가격의 성격) </th>
      <td><select class="box-md">
          <option>전체</option>
          <option>비매품</option>
          <option>가격불명</option>
          <option>무료배포</option>
          <option>배포가</option>
          <option>회원가</option>
          <option>비회원가</option>
          <option>특가</option>
          <option>장정별</option>
          <option>구입</option>
          <option>기증</option>
          <option></option>
        </select>
         </td>
    </tr>
  </tbody>
</table>
<div class="btn_group">
	<input type="submit" class="btn search_btn" value="검&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;색"/>
	<input type="button" class="btn rewrite_btn" value="다시쓰기"/>
</div>
</form>




</div>
<!-- /.module-content -->
<!-- Footer.html -->
    				</div>
				</div>
			</div>
			<div class="container-footer">&nbsp;</div>
		</div>
	</div>
	<div id="footer">
		<div class="container">
    		COPYRIGHT ⓒ PHOSEBIBTEC CO.,LTD. ALL RIGHTS RESERVED.
    		<a href="mailto:" class="email">이메일보내기</a>
    		<ul class="counter">
    			<li>Today : 7</li>
    			<li>Total : 671</li>
    		</ul>
		</div>
	</div>
</div>
<!-- //Footer.html -->
<!-- App Footer.html -->
</body>
</html>
<!-- //App Footer.html -->