<!DOCTYPE html>
<!-- App Header.html -->
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="ㅇㅇㅇ 홈페이지 입니다." />
<title>ㅇㅇㅇ</title>
<link rel="stylesheet" href="../resources/front/css/phone.min.css" />
<link rel="stylesheet" href="../resources/front-legacy/css/legacy-phone.css" />
<link rel="stylesheet" href="../resources/front/css/tablet.min.css" />
<link rel="stylesheet" href="../resources/front-legacy/css/legacy-tablet.css" />
<link rel="stylesheet" href="../resources/front/css/desktop.min.css" />
<link rel="stylesheet" href="../resources/front-legacy/css/legacy-desktop.css" />
<link rel="stylesheet" href="../resources/front/css/largedesktop.min.css" media="screen and (min-width: 1280px)" />
<link rel="stylesheet" href="../resources/front-legacy/css/legacy-largedesktop.css" media="screen and (min-width: 1280px)" />
<!--[if lt IE 9]><script src="../resources/front/js/vendor/jquery-1.12.2.min.js"></script><![endif]-->
<!--[if gte IE 9]><!--><script src="../resources/front/js/vendor/jquery.min.js"></script><![endif]-->
<script src="../resources/front/js/script.js"></script>
</head>
<body class="layout-index">
<!-- //App Header.html -->
<div class="error-page">
	<h2 class="headline text-yellow">404</h2>
	<div class="error-content">
		<h3>
			<i class="fa fa-warning text-yellow"></i> 페이지를 찾을 수 없습니다.
		</h3>
		<p>
			이전 페이지로 돌아 가거나 메인 페이지로 이동해 주세요.<br>
			<br>
			<a href="#back" class="btn btn-primary" onclick="history.back(); return false;">이전 페이지</a>
			<a href="/" class="btn btn-default">메인 페이지</a>
		</p>
	</div>
</div>
<!-- App Footer.html -->
</body>
</html>
<!-- //App Footer.html -->