<!DOCTYPE html>
<!-- App Header.html -->
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="ㅇㅇㅇ 홈페이지 입니다." />
<title>ㅇㅇㅇ</title>
<link rel="stylesheet" href="../resources/front/css/phone.min.css" />
<link rel="stylesheet" href="../resources/front-legacy/css/legacy-phone.css" />
<link rel="stylesheet" href="../resources/front/css/tablet.min.css" />
<link rel="stylesheet" href="../resources/front-legacy/css/legacy-tablet.css" />
<link rel="stylesheet" href="../resources/front/css/desktop.min.css" />
<link rel="stylesheet" href="../resources/front-legacy/css/legacy-desktop.css" />
<link rel="stylesheet" href="../resources/front/css/largedesktop.min.css" media="screen and (min-width: 1280px)" />
<link rel="stylesheet" href="../resources/front-legacy/css/legacy-largedesktop.css" media="screen and (min-width: 1280px)" />
<!--[if lt IE 9]><script src="../resources/front/js/vendor/jquery-1.12.2.min.js"></script><![endif]-->
<!--[if gte IE 9]><!--><script src="../resources/front/js/vendor/jquery.min.js"></script><![endif]-->
<script src="../resources/front/js/script.js"></script>
</head>
<body class="layout-page">
<!-- //App Header.html -->
<!-- Header.html -->
<div id="wrap">
	<div id="header">
		<div class="container">
			<h1 class="site-logo"><a href="/" style="background-image: url(../resources/front/images/_temp/logo.png);"><span class="sr-only">ㅇㅇㅇ</span></a></h1>
			<div class="lnb">
				<ul>
					<li>
						<a href="mypage-1.html">마이페이지</a>
					</li>
					<li>
						<a href="mypage-2.html">독후활동</a>
					</li>
					<li>
						<a href="mypage-3.html">예약도서</a>
					</li>
					<li>
						<a href="mypage-4.html">대출이력</a>
					</li>
					<li>
						<a href="mypage-5.html">희망도서</a>
					</li>
					<li>
						<a href="mypage-6.html">자료리뷰</a>
					</li>
				</ul>
			</div>
			<div class="gnb">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">개인정보처리방침</a></li>
					<li><a href="#">Join</a></li>
					<li><a href="#">Mypage</a></li>
					<li><a href="#">Admin</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="body">
		<div id="container">
			<div class="container-header">&nbsp;</div>
			<div class="container-body">
				<div class="container">
					<span class="qnb"></span>
											<div class="snb sub-page">
							<div class="account">
								<form action="" method="post">
									<storng class="title sr-only">Member Login</storng>
									<div class="forms">
										<label><span class="sr-only">ID</span> <input type="text" /></label>
										<label><span class="sr-only">PW</span> <input type="password" /></label>
									</div>
									<span class="find-id-and-pw">
        								<a href="#">아이디</a> /
        								<a href="#">비밀번호찾기</a>
    								</span>
									<input type="submit" class="submit" value="Login" />
								</form>
							</div>
							<!--로그인시-->
							<div class="account-logon">
								<form action="" method="post">

									<storng class="title"><span class="name">홍길동</span>님 반갑습니다. </storng>
									<div class="my_info">
										<strong class="sr-only">도서대출정보</strong>
										<p>대출 : <span class="spot">0</span>건 / 전체 <span class="spot">6</span>건</p>
									</div>
									<p><a href="#none" class="btn-logout layout-sp"><span class="sr-only">logout</span></a><a href="mypage-1.html" class="btn-mypage layout-sp"><span class="sr-only">mypage</span></a></p>
								</form>
							</div>
							<form action="" method="post">
								<div class="dic-search-bar">
									<input type="text" />
									<input type="submit" class="submit" onclick="event.preventDefault(); alert('준비중입니다.');" />
								</div>
							</form>
							<div class="sub_introduce">
								<div class="head"><span class="sr-only">도서관 소개</span></div>
								<ul>
									<li><a href="introduce-1.html">인사말</a></li>
									<li><a href="introduce-2.html">도서관소개</a></li>
									<li><a href="introduce-3.html">연혁</a></li>
									<li><a href="introduce-4.html">찾아오시는 길</a></li>
									<li><a href="introduce-5.html">시설현황</a></li>
									<li><a href="introduce-6.html">이용안내</a></li>
									<li><a href="introduce-7.html">일정관리</a></li>
								</ul>
							</div>
							<div class="quick_link">
								<li class="eq-01"><a href="mypage-3.html"><span class="sr-only">예약 도서</span></a></li>
								<li class="eq-02"><a href="mypage-4.html"><span class="sr-only">대출 조회</span></a></li>
								<li class="eq-03"><a href="mypage-2.html"><span class="sr-only">독후감 쓰기</span></a></li>
							</div>

						</div>
										<div id="content">
													<h2 class="page-title">
								<div>
																														희망도서
																																																																													</div>
							</h2>
												<!-- //Header.html --><div class="module-content mypage-foot">
    <div class="mypage">
        <div class="image mypage-sp">
            <strong class="sr-only">프로필 사진</strong>
            <img src="" alt="프로필 이미지" width="120" height="160">
        </div>
        <div class="profile mypage-sp">
            <strong class="sr-only">my page</strong>
            <p><span class="sr-only">대출카드 ID :</span><span>S000000001</span></p>
            <p><span class="sr-only">성명 :</span><span>홍길동</span></p>
            <p><span class="sr-only">등급 :</span><span>1등급</span></p>
            <p><span class="sr-only">대출가능권수 :</span><span>3권</span></p>
            <p><span class="sr-only">대출제한일 :</span><span>111</span></p>
            <div>
                <a href="#none" class="change_pw sp"><span class="sr-only">비밀번호 변경</span></a>
            </div>
        </div>
        <div class="use mypage-sp">
            <strong class="sr-only">이용현황</strong>
            <p><span class="sr-only">대출권수 :</span><a href="mypage-4.html"><span>0</span>건</a></p>
            <p><span class="sr-only">연체권수 :</span><a href="mypage-4.html"><span>0</span>건</a></p>
            <p><span class="sr-only">예약권수 :</span><a href="mypage-3.html"><span>1</span>건</a></p>
        </div>
        <div class="active mypage-sp">
            <strong class="sr-only">도서관활동 현황</strong>
            <p><span class="sr-only">독후감 :</span><a href="mypage-2.html"><span>1</span>건</a></p>
            <p><span class="sr-only">도서리뷰 :</span><a href="mypage-6.html"><span>0</span>건</a></p>
        </div>
    </div>
    <!-- /.mypage -->
    <div class="change_pw-box">
        <strong>비밀번호 변경</strong>
        <form>
            <table class="table-primary">
                <tbody>
                <tr>
                    <th><label for="">기존 비밀번호</label></th>
                    <td><input type="password" name="" size="20"></td>
                </tr>
                <tr>
                    <th><label for="">새 비밀번호</label></th>
                    <td><input type="password" name="" size="20"></td>
                </tr>
                </tbody>
            </table>
            <p class="tar">
                <a href="#none" class="btn-detail-remark sp"><span class="sr-only">수정</span></a>
                <a href="#none" class="btn-detail-cancel sp"><span class="sr-only">취소</span></a>
            </p>
        </form>
    </div>
</div>
<!-- /.module-content -->
<!-- Footer.html -->
</div>
</div>
</div>
<div class="container-footer">&nbsp;</div>
</div>
</div>
<div id="footer">
    <div class="container">
        COPYRIGHT ⓒ PHOSEBIBTEC CO.,LTD. ALL RIGHTS RESERVED.
        <a href="mailto:" class="email">이메일보내기</a>
        <ul class="counter">
            <li>Today : 7</li>
            <li>Total : 671</li>
        </ul>
    </div>
</div>
</div>

<!-- popup content -->
<div class="pop-green pop-green-rewrite">
    <p><span class="pop-icon sp pl10"></span><strong>서평</strong></p>
    <table class="table-primary">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <td></td>
        <td></td>
        <td></td>
        </tbody>
    </table>
    <a href="#none" class="btn-detail-close2 sp"></a>
</div>
<!-- /.green-rewrite -->
<div class="pop-green pop-green-report">
    <p><span class="pop-icon sp pl10"></span><strong>독후감</strong></p>
    <table class="table-primary">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <td></td>
        <td></td>
        <td></td>
        </tbody>
    </table>
    <a href="#none" class="btn-detail-close2 sp"></a>
</div>
<!-- /.green-report -->
<div class="pop-green pop-green-review">
    <p><span class="pop-icon sp pl10"></span><strong>리뷰</strong></p>
    <table class="table-primary">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <td></td>
        <td></td>
        <td></td>
        </tbody>
    </table>
    <a href="#none" class="btn-detail-close2 sp"></a>
</div>
<!-- /.green-review -->
<div class="pop-green pop-green-marc">
    <p><span class="pop-icon sp pl10"></span><strong>MARC</strong></p>
    <table class="table-primary">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <td></td>
        <td></td>
        <td></td>
        </tbody>
    </table>
    <a href="#none" class="btn-detail-close2 sp"></a>
</div>
<!-- /.green-marc -->
<!-- //popup content -->
<!-- //Footer.html --><!-- App Footer.html -->
</body>
</html>
<!-- //App Footer.html -->