<!DOCTYPE html>
<!-- App Header.html -->
<html lang="ko-KR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="ㅇㅇㅇ 홈페이지 입니다." />
<title>ㅇㅇㅇ</title>
<link rel="stylesheet" href="../resources/front/css/phone.min.css" />
<link rel="stylesheet" href="../resources/front-legacy/css/legacy-phone.css" />
<link rel="stylesheet" href="../resources/front/css/tablet.min.css" />
<link rel="stylesheet" href="../resources/front-legacy/css/legacy-tablet.css" />
<link rel="stylesheet" href="../resources/front/css/desktop.min.css" />
<link rel="stylesheet" href="../resources/front-legacy/css/legacy-desktop.css" />
<link rel="stylesheet" href="../resources/front/css/largedesktop.min.css" media="screen and (min-width: 1280px)" />
<link rel="stylesheet" href="../resources/front-legacy/css/legacy-largedesktop.css" media="screen and (min-width: 1280px)" />
<!--[if lt IE 9]><script src="../resources/front/js/vendor/jquery-1.12.2.min.js"></script><![endif]-->
<!--[if gte IE 9]><!--><script src="../resources/front/js/vendor/jquery.min.js"></script><![endif]-->
<script src="../resources/front/js/script.js"></script>
</head>
<body class="layout-page">
<!-- //App Header.html -->
<!-- Header.html -->
<div id="wrap">
	<div id="header">
		<div class="container">
			<h1 class="site-logo"><a href="/" style="background-image: url(../resources/front/images/_temp/logo.png);"><span class="sr-only">ㅇㅇㅇ</span></a></h1>
			<div class="lnb">
				<ul>
					<li>
						<a href="introduce-1.html">도서관 소개</a>
						<ul>
							<li><a href="introduce-1.html">인사말</a></li>
							<li><a href="introduce-2.html">도서관 소개</a></li>
							<li><a href="introduce-3.html">연혁</a></li>
							<li><a href="introduce-4.html">찾아오시는 길</a></li>
							<li><a href="introduce-5.html">시설현황</a></li>
							<li><a href="introduce-6.html">이용안내</a></li>
							<li><a href="introduce-7.html">일정관리</a></li>
						</ul>

					</li>
					<li class="on">
						<a href="search-1.html">도서검색</a>
						<ul>
							<li><a href="search-1.html">간략 검색</a></li>
							<li><a href="search-2.html">상세검색</a></li>
							<li><a href="search-3.html">분류검색1</a></li>
							<li><a href="search-4.html">분류검색2</a></li>
							<li><a href="search-5.html">분류검색3</a></li>
						</ul>
					</li>
					<li>
						<a href="book-1.html">도서정보</a>
						<ul>
							<li><a href="book-1.html">신간도서</a></li>
							<li><a href="book-2.html">희망도서</a></li>
							<li><a href="book-3.html">추천도서</a></li>
							<li><a href="book-4.html">권장도서</a></li>
							<li><a href="book-5.html">베스트대출목록</a></li>
						</ul>
					</li>
					<li>
						<a href="community-1.html">이용자 마당</a>
						<ul>
							<li><a href="community-1.html">공지사항</a></li>
							<li><a href="community-2.html">자주묻는 질문</a></li>
							<li><a href="community-3.html">Q&amp;A</a></li>
							<li><a href="community-4.html">독후활동</a></li>
							<li><a href="community-5.html">자유게시판</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="gnb">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">개인정보처리방침</a></li>
					<li><a href="#">Join</a></li>
					<li><a href="#">Mypage</a></li>
					<li><a href="#">Admin</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="body">
		<div id="container">
			<div class="container-header">&nbsp;</div>
			<div class="container-body">
				<div class="container">
					<span class="qnb"></span>
											<div class="snb sub-page">
							<form action="" method="post">
    							<div class="account">
    								<storng class="title sr-only">Member Login</storng>
    								<div class="forms">
        								<label><span class="sr-only">ID</span> <input type="text" /></label>
        								<label><span class="sr-only">PW</span> <input type="password" /></label>
    								</div>
    								<span class="find-id-and-pw">
        								<a href="#">아이디</a> / 
        								<a href="#">비밀번호찾기</a> 
    								</span>
    								<input type="submit" class="submit" value="Login" />
    							</div>
							</form>
							<form action="" method="post">
    							<div class="dic-search-bar">
    								<input type="text" />
    								<input type="submit" class="submit" />
    							</div>
							</form>
							<div class="sub_introduce">
								<div class="head"><span class="sr-only">도서관 소개</span></div>
								<ul>
									<li><a href="#none">인사말</a></li>
									<li><a href="#none">도서관소개</a></li>
									<li><a href="#none">연혁</a></li>
									<li><a href="#none">찾아오시는 길</a></li>
									<li><a href="#none">시설현황</a></li>
									<li><a href="#none">이용안내</a></li>
									<li><a href="#none">일정관리</a></li>
								</ul>
							</div>
							<div class="quick_link">
								<li class="eq-01"><a href="#none"><span class="sr-only">예약 도서</span></a></li>
								<li class="eq-02"><a href="#none"><span class="sr-only">대출 조회</span></a></li>
								<li class="eq-03"><a href="#none"><span class="sr-only">독후감 쓰기</span></a></li>
							</div>

					</div>
					    				<div id="content">
						                			<h2 class="page-title">
            					<div>
																														간략 검색
																			            					</div>
                			</h2>
						<!-- //Header.html -->































<div class="module-content">

<form action="">
	<table class="table-primary search1">
		<col />
		<col />
		<tr>
			<th>검&nbsp;&nbsp;&nbsp;색&nbsp;&nbsp;&nbsp;어</th>
			<td>
				<input type="text" />
			</td>
		</tr>
		<tr>
			<th>자 료 유 형</th>
			<td>
				<input type="checkbox" id="pds_type-1" value="pds_type-1" checked/><label for="pds_type-1">전체</label>
				<input type="checkbox" id="pds_type-2" value="pds_type-2" /><label for="pds_type-2">단행본</label>
				<input type="checkbox" id="pds_type-3" value="pds_type-3" /><label for="pds_type-3">연속간행물</label>
				<input type="checkbox" id="pds_type-4" value="pds_type-4" /><label for="pds_type-4">멀티미디어/비도서</label>
			</td>
		</tr>
		<tr>
			<th>검 색 조 건</th>
			<td>
				<input type="checkbox" id="include_type-1" value="include_type-1" checked/><label for="include_type-1">대출도서포함</label>
				<input type="checkbox" id="include_type-2" value="include_type-1" checked/><label for="include_type-2">예약도서포함</label>
			</td>
		</tr>
	</table>
	<div class="btn_group">
		<input type="submit" class="btn-oldst search_btn" value="검&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;색"/>
		<input type="button" class="btn-oldst rewrite_btn" value="다시쓰기"/>
	</div>
</form>



</div>
<!-- /.module-content -->

<!-- Footer.html -->
    				</div>
				</div>
			</div>
			<div class="container-footer">&nbsp;</div>
		</div>
	</div>
	<div id="footer">
		<div class="container">
    		COPYRIGHT ⓒ PHOSEBIBTEC CO.,LTD. ALL RIGHTS RESERVED.
    		<a href="mailto:" class="email">이메일보내기</a>
    		<ul class="counter">
    			<li>Today : 7</li>
    			<li>Total : 671</li>
    		</ul>
		</div>
	</div>
</div>
<!-- //Footer.html -->
<!-- App Footer.html -->
</body>
</html>
<!-- //App Footer.html -->